<section class="wa-doubt">
  <div class="wa-inner">
    <h2>¿Tienes alguna <span>duda?</span></h2>
    <p>Escríbenos por WhatsApp y te respondemos de inmediato.</p>
    <a href="#" class="wa-btn">
      <span>Escribir por WhatsApp</span>
      <svg
        width="34"
        height="34"
        viewBox="0 0 34 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17 0C7.62323 0 0 7.62323 0 17C0 26.3768 7.62323 34 17 34C26.3768 34 34 26.3768 34 17C34 7.62323 26.3768 0 17 0ZM21.8495 18.2705L16.4811 23.6389C16.1419 23.9715 15.6857 24.1579 15.2106 24.1579C14.7354 24.1579 14.2793 23.9715 13.94 23.6389C13.6047 23.3011 13.4165 22.8444 13.4165 22.3684C13.4165 21.8924 13.6047 21.4358 13.94 21.0979L18.0558 17L13.94 12.9021C13.7732 12.7352 13.6408 12.5371 13.5505 12.3191C13.4602 12.1011 13.4138 11.8675 13.4138 11.6315C13.4138 11.3956 13.4603 11.1619 13.5506 10.9439C13.6409 10.7259 13.7732 10.5279 13.9401 10.361C14.1069 10.1942 14.305 10.0619 14.523 9.97156C14.741 9.88127 14.9747 9.83481 15.2106 9.83482C15.4466 9.83482 15.6802 9.88131 15.8982 9.97161C16.1162 10.0619 16.3143 10.1943 16.4811 10.3611L21.8495 15.7295C22.1848 16.0674 22.373 16.524 22.373 17C22.373 17.476 22.1848 17.9326 21.8495 18.2705Z"
          fill="black"></path>
      </svg>
    </a>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="157"
    height="114"
    viewBox="0 0 157 114"
    fill="none"
    class="wa-doubt-section-icon-truck"
  >
    <g filter="url(#filter0_d_2020_661)">
      <path
        d="M118.016 59.0526C124.4 57.9619 130.448 62.2861 131.509 68.6791C132.571 75.0732 128.254 81.1674 121.871 82.2582C115.486 83.3492 109.44 79.0257 108.378 72.6317C107.316 66.2389 111.632 60.1436 118.016 59.0526ZM119.801 69.7961C119.339 69.8751 119.013 70.3229 119.093 70.8008C119.172 71.2787 119.624 71.5937 120.086 71.5147C120.548 71.4357 120.873 70.988 120.794 70.5102C120.714 70.0323 120.263 69.7172 119.801 69.7961Z"
        fill="url(#paint0_linear_2020_661)"
        stroke="white"
        stroke-width="4"></path>
      <path
        d="M110.409 19.136C111.665 18.9216 112.945 19.2786 113.907 20.1037L135.995 39.0515L135.996 39.0513C136.76 39.7054 137.267 40.6092 137.432 41.6026L141.102 63.6994C141.49 66.0345 139.918 68.2616 137.578 68.6617L135.185 69.0706C133.152 69.4179 131.016 68.2716 130.374 66.1508L130.203 65.632C128.352 60.3598 123.399 57.7545 117.926 58.6898C112.276 59.6551 108.367 64.0005 108.574 69.8747C108.653 72.0926 107.004 73.8858 104.972 74.2331L102.577 74.6423C100.235 75.0426 98.031 73.4598 97.6433 71.1253L90.3028 26.9318C89.915 24.5973 91.4858 22.3695 93.8283 21.9693L110.409 19.136ZM99.7522 29.6763C99.5996 29.7026 99.4873 29.8517 99.5151 30.019L101.397 41.3501C101.425 41.5179 101.578 41.621 101.732 41.5951L121.086 38.288C121.168 38.2739 121.209 38.246 121.235 38.222C121.267 38.1916 121.299 38.1422 121.317 38.077C121.336 38.0117 121.333 37.951 121.321 37.9061C121.311 37.8699 121.289 37.8228 121.224 37.767L121.224 37.766L109.935 28.0434C109.868 27.9858 109.781 27.9627 109.7 27.9765L99.7522 29.6763Z"
        fill="url(#paint1_linear_2020_661)"
        stroke="white"
        stroke-width="4"></path>
      <path
        d="M82.8097 10.9637C85.1497 10.5639 87.3548 12.1453 87.7425 14.48L97.1494 71.1154C97.5371 73.45 95.9649 75.6769 93.6247 76.0768L65.2766 80.9208C63.3071 81.2573 61.2404 80.1916 60.5298 78.1961L60.4657 78.001C58.7647 72.3848 53.671 69.5789 48.024 70.5438C42.5534 71.4787 38.7164 75.5844 38.6704 81.1784L38.6779 81.724C38.7563 83.9412 37.1077 85.734 35.0766 86.0812L29.297 87.0688C26.9551 87.469 24.7519 85.8868 24.3642 83.5526L14.9574 26.9172C14.5697 24.5832 16.1401 22.3559 18.4821 21.9558L82.8097 10.9637Z"
        fill="url(#paint2_linear_2020_661)"
        stroke="white"
        stroke-width="4"></path>
      <path
        d="M48.1407 70.9042C54.524 69.8135 60.5718 74.1377 61.6336 80.5306C62.6956 86.9247 58.378 93.019 51.995 94.1098C45.6105 95.2007 39.5641 90.8773 38.502 84.4833C37.4402 78.0905 41.7561 71.9951 48.1407 70.9042ZM49.9251 81.6476C49.4629 81.7266 49.1375 82.1744 49.2169 82.6524C49.2963 83.1302 49.7484 83.4453 50.2106 83.3663C50.6727 83.2872 50.9971 82.8396 50.9178 82.3617C50.8384 81.8838 50.3873 81.5688 49.9251 81.6476Z"
        fill="url(#paint3_linear_2020_661)"
        stroke="white"
        stroke-width="4"></path>
    </g>
    <defs>
      <filter
        id="filter0_d_2020_661"
        x="-9.72748e-05"
        y="0.000391006"
        width="156.06"
        height="113.18"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="6.45"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.18 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_2020_661"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_2020_661"
          result="shape"></feBlend>
      </filter>
      <linearGradient
        id="paint0_linear_2020_661"
        x1="121.543"
        y1="80.285"
        x2="118.254"
        y2="61.0409"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#25CF43"></stop>
        <stop offset="1" stop-color="#61FD7D"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_2020_661"
        x1="119.75"
        y1="69.679"
        x2="111.43"
        y2="20.9906"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#25CF43"></stop>
        <stop offset="1" stop-color="#61FD7D"></stop>
      </linearGradient>
      <linearGradient
        id="paint2_linear_2020_661"
        x1="61.1331"
        y1="79.5994"
        x2="50.6895"
        y2="18.4813"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#25CF43"></stop>
        <stop offset="1" stop-color="#61FD7D"></stop>
      </linearGradient>
      <linearGradient
        id="paint3_linear_2020_661"
        x1="51.6671"
        y1="92.1365"
        x2="48.3787"
        y2="72.8925"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#25CF43"></stop>
        <stop offset="1" stop-color="#61FD7D"></stop>
      </linearGradient>
    </defs>
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="102"
    height="112"
    viewBox="0 0 102 112"
    fill="none"
    class="wa-doubt-section-icon-chat"
  >
    <g filter="url(#filter0_d_2020_659)">
      <path
        d="M69.1481 6.21411L14.9696 22.0377C11.2448 23.1255 9.22265 26.9105 10.4345 30.4607L30.2312 88.5649L39.369 71.6992L86.7752 57.8535C90.5 56.7657 92.556 52.9709 91.3441 49.4207L78.1238 10.6911C76.9119 7.14088 72.8729 5.12624 69.1481 6.21411ZM75.5961 46.9216L34.9622 58.7893L32.7588 52.3344L73.3927 40.4667L75.5961 46.9216ZM72.291 37.2392L31.6571 49.1069L29.4538 42.652L70.0876 30.7843L72.291 37.2392ZM68.9859 27.5568L28.3521 39.4245L26.1487 32.9696L66.7826 21.1019L68.9859 27.5568Z"
        fill="url(#paint0_linear_2020_659)"></path>
      <path
        d="M68.1788 3.37501C73.4013 1.84971 79.2258 4.64189 81.0036 9.84967L94.224 48.5793C96.0017 53.7872 92.9669 59.1678 87.7443 60.6931L41.5015 74.1989L32.9293 90.0217L29.6339 96.1045L27.3511 89.4048L7.55429 31.3005C5.78366 26.1112 8.75958 20.7292 14.0008 19.1984L68.1788 3.37501ZM36.8727 55.1092L71.7477 44.9235L71.4827 44.1471L36.6077 54.3328L36.8727 55.1092ZM33.5674 45.4263L68.4424 35.2406L68.1774 34.4643L33.3024 44.65L33.5674 45.4263ZM30.2625 35.7444L65.1375 25.5587L64.8725 24.7823L29.9975 34.968L30.2625 35.7444Z"
        stroke="white"
        stroke-width="6"></path>
    </g>
    <defs>
      <filter
        id="filter0_d_2020_659"
        x="0"
        y="0"
        width="101.776"
        height="111.645"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_2020_659"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_2020_659"
          result="shape"></feBlend>
      </filter>
      <linearGradient
        id="paint0_linear_2020_659"
        x1="64.0928"
        y1="78.6752"
        x2="44.9903"
        y2="13.2697"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#25CF43"></stop>
        <stop offset="1" stop-color="#61FD7D"></stop>
      </linearGradient>
    </defs>
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="84"
    height="107"
    viewBox="0 0 84 107"
    fill="none"
    class="wa-doubt-section-icon-ubi"
  >
    <g filter="url(#filter0_d_2020_660)">
      <path
        d="M47.5711 7.51596C30.9335 4.43295 14.8406 14.6647 11.5805 30.3985C7.15785 51.7428 30.723 88.8275 30.723 88.8275C30.723 88.8275 67.3454 62.8958 71.768 41.5515C75.0281 25.8177 64.2086 10.599 47.5711 7.51596ZM39.5682 46.1389C33.6354 45.0396 29.7639 39.5939 30.9265 33.9834C32.089 28.3729 37.8475 24.7117 43.7802 25.8111C49.713 26.9104 53.5845 32.3561 52.422 37.9666C51.2595 43.5771 45.501 47.2383 39.5682 46.1389Z"
        fill="url(#paint0_linear_2020_660)"></path>
      <path
        d="M30.7233 88.8279L27.7402 90.7278L29.6929 93.8004L32.7275 91.652L30.7233 88.8279ZM30.7233 88.8279L32.7289 91.6502L32.7312 91.6487C32.7329 91.6475 32.7347 91.6456 32.7372 91.6438C32.7429 91.6398 32.7514 91.6347 32.7615 91.6275C32.7817 91.6131 32.8108 91.5919 32.8482 91.5651C32.923 91.5116 33.0316 91.4336 33.1717 91.3321C33.4522 91.1289 33.8599 90.8309 34.3772 90.4464C35.4118 89.6774 36.8874 88.5598 38.669 87.1536C42.2286 84.3439 47.0301 80.3653 51.9816 75.6981C56.9234 71.04 62.0756 65.6396 66.2986 59.9822C70.4887 54.369 73.9523 48.2552 75.2092 42.1891C78.8956 24.3978 66.6496 7.49271 48.2815 4.08883C29.9132 0.685097 11.8255 11.9693 8.13906 29.7607C6.88214 35.8269 7.65057 42.7248 9.29064 49.4184C10.9436 56.1647 13.5595 63.0044 16.2769 69.0819C18.9996 75.1711 21.8574 80.569 24.0324 84.4414C25.1212 86.3798 26.0424 87.9412 26.6936 89.0226C27.0192 89.5632 27.2769 89.9846 27.4555 90.2729C27.5447 90.4168 27.6142 90.5278 27.6621 90.6041C27.686 90.6422 27.7045 90.6723 27.7175 90.6928L27.7396 90.7257L30.7233 88.8279ZM43.0705 29.2382C38.8685 28.4596 35.1045 31.0683 34.3683 34.6211C33.6322 38.174 36.0767 41.9331 40.2787 42.7118C44.4806 43.4902 48.2447 40.8816 48.9809 37.3289C49.717 33.7762 47.2722 30.017 43.0705 29.2382Z"
        stroke="white"
        stroke-width="7"></path>
    </g>
    <defs>
      <filter
        id="filter0_d_2020_660"
        x="0"
        y="0"
        width="83.3828"
        height="106.773"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_2020_660"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_2020_660"
          result="shape"></feBlend>
      </filter>
      <linearGradient
        id="paint0_linear_2020_660"
        x1="30.723"
        y1="88.8275"
        x2="45.8495"
        y2="7.19695"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#25CF43"></stop>
        <stop offset="1" stop-color="#61FD7D"></stop>
      </linearGradient>
    </defs>
  </svg>
</section>

<style>
  .wa-doubt {
    position: relative;
    overflow: hidden;
    border-top: 4px solid #000;
    padding: 8em 0;
    background-image: url('/figma/fondo-dudas.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .wa-inner {
    width: min(100%, 920px);
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .wa-inner h2 {
    margin: 0;
    color: #111;
    font-size: clamp(42px, 6.2vw, 64px);
    font-weight: 300;
    line-height: 0.9;
    letter-spacing: -0.03em;
  }
  .wa-inner h2 span {
    color: #32dd80;
    font-weight: 500;
  }
  .wa-inner p {
    margin: 18px auto 0;
    color: #111;
    font-size: 20px;
    max-width: 430px;
    line-height: 1.15;
  }
  .wa-btn {
    margin: 34px auto 0;
    width: 50%;
    min-width: 300px;
    min-height: 88px;
    border-radius: 17px;
    background: var(--Linear, linear-gradient(0deg, #25cf43 0%, #61fd7d 100%));
    box-shadow: 0 17px 22.9px -7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-decoration: none;
    color: #000;
    font-size: clamp(22px, 3.3vw, 32px);
    font-weight: 500;
    position: relative;
    padding: 0 1em;
    z-index: 2;
  }
  .wa-btn img {
    width: 34px;
    height: 34px;
    object-fit: contain;
  }
  .wa-columns {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 56%;
    background:
      linear-gradient(
        180deg,
        rgba(56, 230, 141, 0.52),
        rgba(56, 230, 141, 0.08)
      ),
      repeating-linear-gradient(
        90deg,
        rgba(56, 230, 141, 0.26) 0 64px,
        rgba(56, 230, 141, 0.08) 64px 74px
      );
    opacity: 0.9;
    z-index: 1;
  }
  .wa-truck {
    position: absolute;
    right: 68px;
    bottom: 42px;
    width: 146px;
    z-index: 2;
  }
  .wa-doubt-section-icon-truck {
    position: absolute;
    right: 68px;
    bottom: 42px;
    width: 146px;
    z-index: 2;
  }
  .wa-doubt-section-icon-chat {
    position: absolute;
    left: 68px;
    top: 30%;
    width: 146px;
    z-index: 2;
  }
  .wa-doubt-section-icon-ubi {
    position: absolute;
    right: 68px;
    top: 42px;
    width: 146px;
    z-index: 2;
  }
  @media (max-width: 980px) {
    .wa-doubt {
      padding: 34px 14px 36px;
    }
    .wa-inner p {
      margin-top: 10px;
      font-size: 15px;
      max-width: 280px;
    }
    .wa-btn {
      min-height: 54px;
      margin-top: 16px;
      border-radius: 12px;
      gap: 10px;
      font-size: 18px;
    }
    .wa-btn img {
      width: 22px;
      height: 22px;
    }
    .wa-columns {
      height: 44%;
    }
    .wa-truck {
      width: 88px;
      right: 14px;
      bottom: 18px;
    }
  }
</style>
